# Core dependencies

python-dotenv
pydantic>=2.0.0
pydantic-settings>=2.0.0

# CrewAI and related
crewai

# LangGraph and related
langgraph
# # MetaGPT
# metagpt 

ruff
black
isort

openai 

arize-phoenix-otel
openinference-instrumentation-openai
